<footer class="footer">
  <div class="container">
    <div class="col-4">
      <h3>Music Store Stations</h3>
      <p>
        Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless. Think, The Heartbeat Stop, Walking Promises, Desires Games and many more
      </p>
      <p>Powered by: <a href="#">aptech.ac.vn</a></p>
    </div>
    <div class="col-4">
      <h3>Download Our App</h3>
      <p>
        Go Mobile with our app. Listen to your favourite songs at just one click. Download now!
      </p>
      <a href="#"><img src="img/google_play.jpg" alt="Google play"></a>
      <a href="#"><img src="img/app_store.jpg" alt="App store"></a>
      <a href="#"><img src="img/windows.jpg" alt="windows"></a>
    </div>
    <div class="col-4">
      <h3>Contact Us</h3>
      <p>Call us: (+84) 24-7300-8855, (+84) 28-7300-8866</p>
      <p>Email us: <a href="#">demo@mail.com</a>,<a href="fpt-aptech@mail.com"></a></p>
      <p>Walk in: 8 Ton That Thuyet, My Dinh, Tu Liem, HN</p>
      <p>590 Cach Mang Thang 8, Q.3, TPHCM</p>
    </div>
  </div>
</footer>